@font-face{
    font-family: Kaushan;
    src: url('../fonts/KaushanScript-Regular.otf');
}

*{
    box-sizing: border-box;
}

body {
    font-family: Kaushan, sans-serif;
    font-weight: bold;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

ul {
    list-style: none;
    padding: 0;
    background-color: lightgray;
    margin-bottom: 30px;
}

li {
    padding: 15px 10px;
    border-left: 2px solid white;
}

li:hover {
    transform: scale(1.2, 1.2);
}

.float-menu li {
    float: left;
}

/* убираем отступы для inline-block */
.inline-block-menu {
    letter-spacing: -1px;
    font-size: 0;
    line-height: 0;
}

.inline-block-menu li {
    display: inline-block;
    /* сбрасываем свойства для уборки отступов */
    font-size: 16px;
    line-height: normal;
    letter-spacing: normal;
}

li:hover {
    background-color: black;
}
li:hover a {
    color: white;
}
