* {
    box-sizing: border-box;
}

body {
    font-family: "Bebas Neue", Arial, sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.wrapper {
    padding-left: $side-gap;
    padding-right: $side-gap;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

header {
    $header-line-height: 54px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;

    h1 {
        float: left;
        font: 49px Lobster, Arial, sans-serif;
        line-height: $header-line-height;
        color: $logo-color;
    }

    .search-wrapper {
        display: inline-block;
        width: 47%;
        max-width: 450px;
        line-height: $header-line-height;

        input[type="search"] {
            width: 100%;
            height: 32px;
            padding: 5px 35px 5px 5px;
            border: 1px solid #e1e1e1;
            background: url('../img/search.png');
            background-repeat: no-repeat;
            background-position: right 10px center;
        }
    }

    .busket {
        position: relative;
        float: right;
        font-size: 33px;
        line-height: $header-line-height;
        color: #bdbdbd;

        p {
            display: inline-block;
            padding-left: 40px;
        }

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            @include translate();
            height: 41px;
            width: 37px;
            background-image: url('../img/busket.png');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

nav {
    text-align: center;
    background-color: $menu-bg;
    @include box-shadow(0 2px 4px -2px rgba(0, 0, 0, 0.5));

    ul {
        display: inline-block;

        li {
            display: inline-block;
            margin: 7px 0;
            padding: 0 19px;
            border-left: 2px solid white;
            text-align: center;

            &:first-child {
                padding-left: 0;
                border-left: none;
            }

            &:last-child {
                padding-right: 0;
            }

            a {
                font-size: 21px;
                color: white;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
}

.big-slider {
    position: relative;
    padding-top: 62px;
    padding-bottom: 58px;
    background-color: $slider-top-color;
    
    .slide {
        .big-slider-image {
            float: left;
            width: 38%;
        }

        .big-slider-text {
            float: left;
            margin-left: 6%;
            width: 43%;

            h2 {
                font-size: 61px;
                color: white;
                text-transform: uppercase;
                margin-top: 12px;
                margin-bottom: 3px;
            }

            p {
                font: 17px/1.6 "Open Sans", Arial, sans-serif;
                color: white;
                margin-bottom: 25px;
            }

            button {
                padding: 6px 23px 3px;
                background-color: transparent;
                border: 3px solid white;
                border-radius: 7px;
                font: 27px "Bebas Neue", Arial, sans-serif;
                text-transform: uppercase;
                color: white;
            }
        }
    }

    .big-slider-nav {
        position: absolute;
        left: 50%;
        bottom: 25px;
        @include translate(-50%, 0);

        li {
            $size: 10px;
            display: inline-block;
            width: $size;
            height: $size;
            margin: $size/2;
            border-radius: $size/2;
            background-color: white;
            cursor: pointer;

            &:hover {
                background-color: $slider-top-active-nav-color;
            }
        }
    }
}

.small-slider {
    position: relative;
    @include box-shadow(0 2px 4px -2px rgba(0, 0, 0, 0.5));

    .slide {
        position: relative;
        float: left;
        width: 100% / $small-slider-slides;
        height: $small-slider-height;
        overflow: hidden;
        border-right: 1px solid $slide-border-color;

        /*&:nth-child(#{$small-slider-slides}) {
            border-right: none;
        }*/

        .small-slider-image {
            position: absolute;
            top: 20px;
            left: 0;
            bottom: 20px;
            width: 54%;

            img {
                max-height: 100%;
            }
        }

        .small-slider-text {
            position: absolute;
            top: 50%;
            right: 0;
            width: 45%;
            @include translate();

            h3 {
                @include fixedText(18px, 3);
                margin-bottom: 15px;
            }

            button {
                padding: 5px 12px 2px;
                @extend %button;
            }
        }
    }
    
    .small-slider-controls {
        position: absolute;
        height: $small-slider-height;
        width: 29px;
        top: 0;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;

        &.left-arrow {
            left: 3%;
            background-image: url('../img/arrow_left.png');
        }

        &.right-arrow {
            right: 3%;
            background-image: url('../img/arrow_right.png');
        }
    }
}

.featured-product {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #3bc4b8;

    h2 {
        font-size: 31px;
        padding-top: 3px;
        margin-left: 3%;
        color: white;
        text-transform: uppercase;
    }
}

.product-grid {
    padding-top: 20px;
    padding-bottom: 20px;

    .product {
        $margin: 2%;
        margin-left: $margin;
        margin-right: $margin;
        height: 200px;
        float: left;
        width: (100% - 6 * $margin)/ $product-per-row;
        border-bottom: 5px solid #35C593;
        text-align: center;

        img {
            height: 60%;
            margin: 0 auto;
        }

        h3 {
            @include fixedText(18px, 2);
        }

        p {
            display: inline-block;

        }
    }
}